:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-gray: rgb(247, 247, 247);
  --md-light-gray: rgb(221, 221, 221);
  --white: rgb(256, 256, 256);
  --red: rgb(235, 33, 35);
  --black: rgb(23, 23, 23);
}
